  html{
    scroll-behavior:smooth
  }
  body {
      font-family: Helvetica, sans-serif;
      color: white;
      background-color: black;
      /*white;*/
      margin: 0;
      height: 100%;
      width: 100%;
  }
  #home, #chiSiamo, #servizi, #contatti {
    scroll-margin-top: 8vh;
  }

  /*** COLOR ***/
  .color-1{
    background-color: #20ba65 !important;
  }
  .color-2{
    background-color: #bee346 !important;
  }
  .color-3{
    background-color: #cd1c3f !important;
  }
  .color-title{
    background-color: rgb(200, 141, 110);
  }
  .color-content{
    background-color: #468ae3 !important;
  }
  .color-black{
    background-color: #000000;
  }
  .color-gray{
    background-color: #141414;
  }
  .color-gray-2{
    background-color: #0c0c0c;
  }
  .color-transparent{
    background-color: rgb(20, 20, 20, 0.6);
  }
  .color-inherit{
    background-color: inherit;
  }

  /*** FONT-SIZE ***/
  .font-1vw {
    font-size: 1vw;
  }
  .font-1_3vw {
    font-size: 1.3vw;
  }
  .font-2vw {
    font-size: 2vw;
  }
  .font-3vw {
    font-size: 3vw;
  }
  .font-6vw {
    font-size: 6vw;
  }
  .font-icon-dialog {
    font-size: 48px !important;
  }
  .font-48px {
    font-size: 48px !important;
  }
  .font-18px {
    font-size: 18px;
  }


  /*** GENERAL ***/
  .center{
    text-align: center;
  }
  .left{
    text-align: left;
  }
  .center-div{
    margin-left: auto;
    margin-right: auto;
  }
  .margin-left{
    margin-left: 5%;
  }
  .float-left{
    float: left;
  }
  .float-right{
    float: right;
  }
  .display-none{
    display: none;
  }
  .display-block{
    display: block;
  }
  .display-menu{
    display: none;
  }

  /*** NAV BAR ***/
  .menu {
    height: 8vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0);
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .logo-img {
    padding-left: 10px;
    height: 8vh;
  }
  .menu-item {
    float: right;
  }
  .menu-item a {
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-align: center;
    height: 8vh;
    padding: 3vh;
    text-decoration: none;
  }
  .menu-item a:hover:not(.active) {
    background-color: #111;
  }

  /***  HOME ***/
  .home{
    height: 92vh;
    width: 90%;
  }
  .title-div-home{
    width: 80%;
    height: 30vh; 
    padding: 5px;
  }
  .sub-home{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 80%;;
    height: 50vh;
  }

  /*** SEC ***/
  .sec{
    height: 92vh;
  }
  .title-div-sec{
    width: 80%;
    height: 10vh; 
    padding: 5px;
  }
  .sub-sec{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 80%;;
    height: 70vh;
  }

  /*** FOOTER da sistemare ***/
  .footer{
    width: 100%;
    height: auto;
    display: inline-block;
  }   
  .sub-footer{
    width: 90%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .card{
    display: inline-block;
    right: 0;
    vertical-align: middle;
    padding: 1% 2%;
  } 
  .info{
    width: 40%;
    height: 40vh;
  }
  iframe{
    float: right;
    width: 40%;
    height: 40vh;
    border: none;
  }

  /*** TITLE ***/
  .title-home{
    font-size: 60px;
    margin: 20px 20px ;
  }
  .title-menu{
    font-weight: bold;
    height: 3vh;
    margin: 0 0;
    padding: 2.5vh;
  }
  .title-sec{
    margin: 2vh 0;
  }
  .title-dialog{
    margin: 0; 
    padding: 1vw 0;
  }
  .sign{
    margin: 0 0;
    padding: 2vh 0 ;
  }

/******************* CUSTOM *******************/
 /* Image */
  .logo-div{
    height: 100%;
    aspect-ratio: 1.7;
    background-image: url(img/logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .sub-home-img{
    height: 100%; 
    aspect-ratio: 1;  
    background-image: url(img/ph_1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
  .img-1{
    padding: 16px;
    max-height: 80%;    
  }

  /* Text */
  .text-1{ 
    padding: 16px;
    line-height: 1.6;
    text-align:justify;
  }

  /* Sub-Sec */
  .left-div{
    position: relative;
    float: left;
    width: 50%;
    max-height: 80%;
  }
  .right-div{
    position: relative;
    float: right;
    width: 40%;
  }
  .servizi-div{
    width: max-content;
    padding: 1vw;    
  }
  .servizi-img{
    display: inline-block;
    vertical-align: middle;
    width: 25vw;
    aspect-ratio: 1;
    padding: 1vw; 
    background-image: url(img/ph_1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    cursor: pointer;
  }
  /* .servizi-img:hover{
    transform: rotate3d(0, 1, 0, 360deg);
    transition-timing-function: linear;
    transition-duration: 2s;   
  } */

  /* Menu mobile */
  .open-i{
    cursor: pointer;
    padding: 1vh;        
  }

  /* Dialog */
  .close-i{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 1vh;
  }
  .dialog-div{
    display: none;
    z-index: 1000;
    position: fixed;
    width: 60vw;
    height: 60vh;
    top: 20vh;
    left: 20vw;
    border: solid #141414;
  }
  .table{
    width: 40%;
    padding: 0 5%;
  }
  tr{
    height: 4vh;
  }

  /*** Next & previous buttons ***/
  .prev, .next {
    width: 40px;
    position: relative;
    float: left;
    top: 0;
    cursor: pointer;
    text-align: center;
    flex-grow: 1;
    line-height: 50vh;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    /*border-radius: 0 3px 3px 0;*/
    user-select: none;
  }
  .next {
    float: right;
    /*border-radius: 3px 0 0 3px;*/
  }
  .prev:hover, .next:hover {
    background-color:rgb(20, 20, 20,0.8); 
  }

  /* buttons */
  /* .button {
    z-index: 100;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid black;
    border-radius: 8px;
  }
  .button1:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
  }  */

  /* Fading animation */
  .fade-in{
    animation-name: fade-in;
    animation-duration: 0.5s;
  }
  @keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
  } 

  /* social-icon */
  /* .social-icons{
    padding: 50px;
    text-align: center;
  }
  .social-icons-img{
    padding: 5px ;
    transition: transform 0.5s; 
   }
  .social-icons-img:hover{
    transform: scale(1.5);
  }
  .links{
    color:rgb(141, 191, 255); 
  }    */

  /* .list-item{
    width: 30%;
    height: fit-content; 
    padding: 0.3vw 3vw;  
  }
  .list-item p{
    font-size: 1.3vw;   
  } */

/*** *** MOBILE *** ***/
@media screen and (max-width: 500px) {

  /* FONT */
  .font-1vw{
    font-size: 4vw;
  }
  .font-1_3vw{
    font-size: 4vw;
  }
  .font-2vw {
    font-size: 4vw;
  }
  .font-3vw{
    font-size: 7vw;
  }
  .font-6vw {
    font-size: 6vw;
  }
  .font-icon-dialog {
    font-size: 48px !important;
  }

  /*** NAV BAR mobile ***/ 
  .m-menu-header{
    height: fit-content;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 90;
  }  
  .m-menu {
    height: 100vh;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    position: -webkit-fixed; 
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .m-logo-img {
    float: left;
    padding: 0 10px;
    height: 8vh;
  }
  .m-menu-item {
    width: 100%;  
    text-align: center;
  }
  .m-menu-item a {
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-align: center;
    height: fit-content;
    padding: 3vh;
    text-decoration: none;
  }
  .m-menu-item a:hover:not(.active) {
    background-color: #111;
  }
  .display-block{
    display: none;
  }
  .display-none{
    display: block;
  }

  /*** HOME mobile ***/
  .home{
    height: 92vh;
    width: 100%;
  }
  .title-div-home{
    width: 100%;
    height: 30vh; 
    padding: 0;
  }
  .sub-home{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;;
    height: 50vh;
  }

  /*** SEC mobile ***/
  .title-div-sec{
    width: 100%;
    height: 5vh; 
    padding: 5px 0;
  }
  .sub-sec{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 100%;;
    height: 70vh;
  }

  /*** CUSTOM mobile ***/
  .logo-div{
    width: 100%;
    height: auto;
    background-image: url(img/logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .sub-home-img{
    width: 100%; 
    aspect-ratio: 1;  
    /*background-image: url(img/ph_1.jpg);*/
    background-repeat: no-repeat;
    background-size:cover;
  }


  .left-div{
    width: 100%;
    max-height: 80%;
  }
  .right-div{
    width: 100%;
    padding: 0;
  }  

  .servizi-div{
    width: auto;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1vw 0;    
  }
  .servizi-img{
    display: block;
    width: 20vh;
    aspect-ratio: 1;
    margin: 2vw auto;
    padding: 1vw; 
    background-image: url(img/ph_1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    cursor: pointer;
  }

  /* Dialog */
  .dialog-div{
    width: 80vw;
    height: 80vh;
    top: 15vh;
    left: 10vw;
    border: solid #141414;
  }
  .table{
    float: left;
    width: 70vw;
  }
  tr{
    height: 4vh;
  }
  

  /*** FOOTER da sistemare ***/
  .footer{
    width: 100%;
    height: 92vh;
    display: inline-block;
  }   
  .sub-footer{
    width: 80%;
    height: 85vh;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .card{
    margin-left: auto;
    margin-right: auto;
    display: block;
    right: 0;
    padding: 0;
  } 
  .info{
    width: 100%;
    height: 40vh;
  }
  iframe{
    float: none;
    width: 100%;
    height: 40vh;
    border: none;
  }
}


